<h1>Songs#show</h1>

Title: <%= @song.title %><br>
Artist: <%= @song.artist_name%><br><br>

<%= link_to "Create new song", new_song_path(@song) %>

<%= link_to "View all songs", songs_path(@songs) %>

